
*{
    margin: 0;
    
}

.App{
    background-color:  whitesmoke;
}

.card{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(100, 129, 182); */
    color: white;
    margin: 5px;
    border-radius: 5px;
    box-shadow: inset;
    padding: 5px;
    gap: 10px;

}